<div class="side-menu">
    <ul class="menu">
        <li class="menu-item">
            <a routerLink="/home" routerLinkActive="actived"><fa-icon [icon]="faHome"></fa-icon> Home</a>
        </li>
        <li class="menu-item">
            <a routerLink="/consultas" routerLinkActive="actived"><fa-icon [icon]="faCalendarPlus"></fa-icon> Consultas</a>
        </li>
        <li class="menu-item">
            <a routerLink="/agenda" routerLinkActive="actived"><fa-icon [icon]="faCalendarAlt"></fa-icon> Agenda</a>
        </li>
        <li class="menu-item">
            <a routerLink="/beneficiarios" routerLinkActive="actived"><fa-icon [icon]="faHospitalUser"></fa-icon> Beneficiários</a>
        </li>
        <li class="menu-item">
            <a routerLink="/usuarios" routerLinkActive="actived"><fa-icon [icon]="faUsers"></fa-icon> Usuários</a>
        </li>
        <li class="menu-item">
            <a routerLink="/relatorios" routerLinkActive="actived"><fa-icon [icon]="faFileInvoice"></fa-icon> Relatórios</a>
        </li>
        <li class="menu-item">
            <a routerLink="/layout" routerLinkActive="actived"><fa-icon [icon]="faSwatchbook"></fa-icon> Layout</a>
        </li>
    </ul>
</div>
