@import '../../../../styles.scss';

.side-menu{
    z-index: 888;
    margin-top: 50px;
    position: fixed;
    width: 200px;
    height: 100vh;
    background: $defaultColorDark;
}

.menu{
    margin: 0 0 1rem 0;
    padding: 0;
}

.menu-item{
    display: flex;
    position: relative;
    color: #FFF;
    cursor: pointer;
}

.menu-item a{
    //min-height: 50px;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
}


.menu-item a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blackBackground;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.menu-item a:hover:before, .menu-item a:focus:before, .menu-item a:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.actived{
    background: $blackBackground;
}