<app-header></app-header>

<app-menu></app-menu>

<div class="content">
    <div class="container">
        <div class="content-header">
            <h1>Novo Usuário</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form>
                        <div class="form-group form-row">
                            <div class="col">
                                <label>Nome Completo *</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <label>Cargo *</label>
                                <select class="form-control">
                                    <option>Selecione uma opção...</option>
                                    <option>Administrador</option>
                                    <option>Médico</option>
                                </select>
                            </div>
                            <div class="col">
                                <label>CPF *</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col">
                                <label>Email *</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <label>Telefone 1</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <label>Telefone 2</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col">
                                <label>Estado</label>
                                <select class="form-control">
                                    <option>Selecione uma opção...</option>
                                    <option>RS</option>
                                    <option>SC</option>
                                </select>
                            </div>
                            <div class="col">
                                <label>Cidade</label>
                                <select class="form-control">
                                    <option>Selecione um estado</option>
                                    <option>Porto Alegre</option>
                                    <option>Canoas</option>
                                </select>
                            </div>
                            <div class="col">
                                <label>CEP</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group form-row">
                            <div class="col">
                                <label>Endereço</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <label>Complemento</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

<app-footer></app-footer>